#
# https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings
#

# Denote all files that are truly binary and should not be modified.
.github/citools/tcl/nagelfar binary
